*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/imgbg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 200px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size:13px ;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size:14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #f44366;
    background: #f44366;
    transition: 1s;
}
nav .fa{
    display: none;
}
@media (max-width:700px) {
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: fixed;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;;
    }
    nav.fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor:pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

/*-----------Articles-----------*/

.articles{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.row1{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    
}
.article-col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing:border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.article-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
    .row1{
        flex-direction: column;
    }
}

.prevention{
        width: 80%;
        margin: auto;
        text-align: center;
        padding-top: 100px;
        background-color: rgb(91, 130, 163);
    
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
    .row1{
        flex-direction: column;
    }
}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer:h4{
    margin-bottom: 25px;
    margin-top: 30px;
    font-weight: 600;
}
.icons .fa{
    color:#da4338;
    margin: 0 20px;
    cursor: pointer;
    padding: 30px 0;
}
.fa-heart-o{
    color:#f44336;
}


/*------------------about us page-------*/

.sub-header{
    height: 55vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/ab.jpg) ;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header h1{
     margin-top: 25px;
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;

}
.about-col img{
    width: 100%;
}
.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
}
.red-btn{
    border: 1px solid #f44336;
    background: transparent;
    color: #f44336;
}
.red-btn:hover{
    color: #fff;
}

/*-------ArticlePage------*/
.sub-header3{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/article.jpeg) ;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}



/*-------------Worldometer--------*/
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid  #4CAF50;
  }
  
  .button2:hover {
    background-color:  #4CAF50;
    color: white;
  }
  
  .button3 {
    background-color: white; 
    color: black; 
    border: 2px solid  #4CAF50;
  }
  
  .button3:hover {
    background-color:  #4CAF50;
    color: white;
  }
  
  
  .button4 {
    background-color: white;
    color: black;
    border: 2px solid rgb(248,56,56);
  }
  .button4:hover{
    background-color: rgb(248,56,56);
    color: white;
  }
  
  
  

  .button5 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
  }
  
  .button5:hover {
    background-color: #4CAF50;
    color: white;
  }
  .button6 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
  }
  
  .button6:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .button7 {
    background-color: rgb(44, 138, 35);
    color: white;
    border: 2px solid #4CAF50;
  }
  
  .button7:hover {
    background-color: #4CAF50;
    color: white;
}

  



.sub-header2{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/bg2.jpg) ;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}


/*-----------contact us page------*/
.sub-header4{
    
        height: 50vh;
        width: 100%;
        background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4, 9, 30, 0.363)),url(images/contact.jpeg) ;
        background-position: center;
        background-size: cover;
        text-align: center;
        color: #fff;
    

}
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}
.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}